# LCDWiki Internet Radio config
# WiFi values are plain text on SD. Leave wifi_ssid empty to start setup AP.
# theme: ocean, forest, sunset, mono, aurora, ember, berry, ice, mint, plum, steel, amber, neon, wine
theme=ocean
volume=13
autoplay=1
cover_download=1
startup_station=last
wifi_ssid=
wifi_password=
start_ap_on_boot=0
wifi_retry_seconds=15
wifi_connect_timeout_seconds=18
status_refresh_ms=5000
ntp_enabled=1
ntp_server=pool.ntp.org
timezone=CET-1CEST,M3.5.0,M10.5.0/3
clock_24h=1
touch_debounce_ms=170
battery_enabled=1
battery_min_mv=3300
battery_max_mv=4200
battery_scale_permille=2000
led_enabled=1
led_brightness=18
led_boot_effect=breathe
led_wifi_effect=blink
led_ap_effect=breathe
led_streaming_effect=vu
led_idle_effect=breathe
led_error_effect=blink
led_pulse_ms=2400
led_blink_ms=260
